// Sass file for App View

@import "compass/reset";
@import "compass/css3";
@import 'compass/utilities/tables';
@import "palette";
@import "mixins";
@import "bourbon/app/assets/stylesheets/bourbon";


#total {
	margin: 50px;
}

@page {
  margin: 1.7em 1.2em;
}

@page :right {
  @bottom-right {
    content: counter(page) " of " counter(pages);
  }
}

body {
  @import "compass/typography/text/force-wrap";
  font-family: 'Muli', 'Lato Light', 'Imprima';
  font-size: 1em;
  @media print {
    font-size: 0.8em;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Josefin Slab", "serif";
  margin: 1.1em 0 1.1em 0;
  text-align: center;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em !important;
  page-break-before:always;
}

h3 {
  font-size: 2.2em !important;
  text-align: left;
}

h4 {
  font-size: 2.0em !important;
}

h5 {
  font-size: 1.8em !important;
}

h6 {
  
}

strong {
  font-weight: bold;
}

em {
  text-decoration: dashed;
}

i {
  
}

p {
  margin: 1em 0 1em 0;
  line-height: 1.8em;
}

@media print {
  pre {
    background-color: $colorCodeBg !important;
  }
}

pre {
  padding: 1.3em;
  $code-margin: 2em;
  background-color: $colorCodeBg;
  margin: $code-margin 0 $code-margin 0;
  @include border-radius(0,0);
  @media print {
    -webkit-print-color-adjust: exact;  
  }
  code {
    font-size: 0.8em;
    color: #000 !important;
  }
}

code {
  font-family: "Source Code Pro";
  @include border-radius(5px);
  @media print {
    color: $codeInlineColor !important;
    background-color: $colorCodeBg !important;
    -webkit-print-color-adjust: exact;  
  }
  padding: 0 3px 0 3px;
}

table {
  $table-color: #c00;
  // $table-color: #7a98c6;
  // @include alternating-rows-and-columns($table-color, #c00, #f00, #000);
  //@include alternating-rows-and-columns($table-color, #ff0, #444, #444);  
  margin: 0 auto;
  @include table-scaffolding;
  tr {
    th {
      //color: #fff;
      border-bottom: 2px solid #000;
      padding: 0.5em 1.5em 1.0em 1.5em;
    }
    td {
      padding: 0.2em 1.5em 0.2em 1.5em;
      //background-color: #ccc;
    }
  }
}


table.register-map {
  @include reset-table;
  @include reset-table-cell;
  $table-color: #c00;
  margin: 0 auto;
  @include table-scaffolding;
  font-size: 0.7em;
  tr {
    th {
      //color: #fff;
      border-bottom: 2px solid #000;
      padding-bottom: 0.5em;
    }
    td {
      //background-color: #ccc;
      padding: 0.1em 0.5em;
    }
  }
}